body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
}

h1 {
    font-size: 25px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: 2px 2px #000;
    color: #fff;
    text-align: center;
    font-weight: 900;
    margin: 50px 0 20px 0;
}

a {
    display: block;
    z-index: 3;
    width: 60%;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto 10px auto;
    padding: 8px 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border-radius: 20px;
    color: #000;
    border: 3px solid #000;
    box-shadow: 1px 3px #000;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background: #fff!important;
    color: #000!important;
}

a:active {
    box-shadow: 1px 1px #000;
    transform: translate(1px, 3px);
}

.main {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #0e62b5;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    width: 400px;
    height: 400px;
    align-items: center;
}

.instruction {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    z-index: 3;
    display: block;
    background: transparent;
}

.instruction-text {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 65%;
    height: auto;
    padding: 5px 5px;
    border: 2px solid #fff;
}

canvas{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: block;
}

.grid {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: transparent;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
}

.text {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: transparent;
}

.score-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    z-index: 4;
    position: absolute;
    height: auto;
    width: auto;
    top: 3px;
    right: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.countdown-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    z-index: 4;
    position: absolute;
    height: auto;
    width: auto;
    top: 3px;
    left: 12px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#grid-block {
    background: transparent;
    height: 16px;
    width: 16px;
    vertical-align: top;
}

.grid-tetris {
    border: 2px solid #000;
    background: transparent;
    /* 13x20 grid*/
    height: 320px;
    width: 208px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 135px;
    margin: auto;
    z-index: 2;
}

.tetris-block {
    background: blue!important;
}

.tetris-block2 {
    background: purple!important;
}